{% extends "main/index.html" %}
{% load static %}
{% block title %} PATRYK KOZIOŁ | RESET HASŁA {% endblock %}

{% block content %}


<div class="main-card">
    <legend class="border-bottom mb-4">Reset hasła</legend>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Wprowadz maila">
            <br/>
            <button type="submit" class="btn btn-outline-info">Zaloguj się</button>
        </div>
    </form>
</div>
{% endblock %}