{% extends "main/index.html" %}
{% load static %}
{% load i18n %}
{% block title %} PATRYK KOZIOŁ | ZMIANA HASŁA {% endblock %}

{% block content %}

<h1>Zmiana hasła</h1>

<div class="form-group">
    {% language 'pl' %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Zmień hasło</button>
        {% endlanguage %}
    </form>
    <ul>
        <li>Twoje hasło nie może być zbyt podobne do twoich innych danych osobistych.</li>
        <li>Twoje hasło musi zawierać co najmniej 8 znaków.</li>
        <li>Twoje hasło nie może być powszechnie używanym hasłem.</li>
        <li>Twoje hasło nie może składać się tylko z cyfr.</li>
</div>
    </ul>



<br/><br/>
<a href="{% url 'blog' %}"><button type="button" class="btn btn-secondary">Cofnij</button></a>
{% endblock %}