{% extends "main/index.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %} PATRYK KOZIOŁ | EDYCJA PROFILU {% endblock %}

{% block content %}
<div class="main-card">
    <legend class="border-bottom mb-4">Zaktualizuj ustawienia</legend>
    <div class="form-group">
        {% language 'pl' %}
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Aktualizuj</button>
        </form>
        {% endlanguage %}
    </div>
    <br/><br/>
    <a href="{% url 'blog' %}"><button type="button" class="btn btn-secondary">Cofnij</button></a>
</div>
{% endblock %}