{% extends "main/index.html" %}
{% load static %}
{% load i18n %}
{% block title %} PATRYK KOZIOŁ | ZALOGUJ SIĘ {% endblock %}

{% block content %}

<h1>Zaloguj się</h1>

<div class="form-group">
    {% language 'pl' %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Zaloguj się</button>
    </form>
    {% endlanguage %}
</div>


<br/><br/>
<a href="{% url 'blog' %}"><button type="button" class="btn btn-secondary">Cofnij</button></a>
{% endblock %}