{% extends "main/index.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} PATRYK KOZIOŁ | ZAREJESTRUJ SIĘ {% endblock %}

{% block content %}
 <div class="main-card">
     <legend class="border-bottom mb-4">Zarejestuj się</legend>
        {% language 'pl' %}
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">

            </div>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Zarejestuj się</button>
            </div>
        </form>
        {% endlanguage %}
    </div>
{% endblock %}
