{% extends "main/index.html" %}
{% load static %}
{% block title %} PATRYK KOZIOŁ | DODAJ POST {% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_superuser %}

<div class="main-card">
    <legend class="border-bottom mb-4">Dodaj post</legend>
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">POST</button>
        </form>
    </div>
    {% else %}
    <h1>Brak uprawnień ! ;-)</h1>
    {% endif %}


    <br/><br/>
    <a href="{% url 'blog' %}"><button type="button" class="btn btn-secondary">Cofnij</button></a>

</div>

{% endblock %}