{% extends "main/index.html" %}
{% load static %}
{% block title %} PATRYK KOZIOŁ | BLOG {% endblock %}

{% block content %}
<!--Section-1-->
<section class="section-1">
    <div class="jumbotron-blog d-flex align-items-center">
        <div class="gradient"></div>
        <div class="container-fluid content">
            <h1 data-aos="fade-right" data-aos-delay="300">Blog</h1>
            <h2 data-aos="fade-left" data-aos-delay="300">Patryk Kozioł</h2>
        </div>
        <!--container-fluid end-->
    </div>
</section>

<section class="container" data-aos="fade-up" data-aos-duration="700">
    <div class="card mb-3 blog blog-card">
        <div class="row bt">
            <div class="col-sm-12">
                <div class="pagination" style="margin-bottom: 3%;">
                    {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <ul>
                        <li><a class="active" href="?page={{ num }}">{{ num }}</a></li>
                    </ul>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <ul>
                        <li><a href="?page={{ num }}">{{ num }}</a></li>
                    </ul>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% for post in object_list %}
        {% if post.image %}
        <a href="{% url 'blog-detail' post.pk %}"><img src="{{ post.image.url }}" class="card-img-top" alt="..."></a>
        {% else %}
        <p> Wstaw zdjęcie</p>
        {% endif %}
        <div class="card-body">
            <a href="{% url 'blog-detail' post.pk %}"><h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text"><small class="text-muted">Opublikowano {{ post.post_date_pretty }}
                    przez {{ post.author.first_name }} {{ post.author.last_name }}</small></p></a>
            <br/>
            <p class="card-text">{{ post.snippet }}</p>
            <div>
                <a href="{% url 'blog-detail' post.pk %}" class="btn btn-success"><i class="fas fa-plus-circle"></i> Czytaj dalej</a>
                {% if user.is_authenticated and user.id == post.author.id %}
                <a href="{% url 'update-post' post.pk %}"><i class="far fa-edit"></i></a>
                <a href="{% url 'delete-post' post.pk %}"><i class="fas fa-trash-alt"></i></a>
                {% endif %}
            </div>
        </div>
        <hr>
        {% endfor %}
        <div class="row bt">
            <div class="col-sm-12">
                <div class="pagination" style="margin-bottom: 3%;">
                    {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <ul>
                        <li><a class="active" href="?page={{ num }}">{{ num }}</a></li>
                    </ul>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <ul>
                        <li><a href="?page={{ num }}">{{ num }}</a></li>
                    </ul>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}