{% extends "main/index.html" %}
{% load static %}
{% block title %} PATRYK KOZIOŁ | BLOG {% endblock %}

{% block content %}

<h1>{{ post.title }}</h1>
<p>{{ post.body|safe }}</p>
{% if post.image %}
<img src="{{ post.image.url }}">
{% endif %}
<small>{{ post.author.first_name }} {{ post.author.last_name }} - {{ post.post_date_pretty }}</small>
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <a href="{% url 'update-post' post.pk %}"><i class="far fa-edit"></i></a>
        <a href="{% url 'delete-post' post.pk %}"><i class="fas fa-trash-alt"></i></a>
    {% endif %}
{% endif %}

<br/><br/>
<a href="{% url 'blog' %}"><button type="button" class="btn btn-secondary">Cofnij</button></a>

<br/><br/>
<hr>
<br/>
<form action="{% url 'like-post' post.pk %}"
      method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
        {% if liked %}
            <button type="submit" name="post_id" value="{{ post.id }}" class="btn">
                <i class="fas fa-heart"> {{ total_likes }}</i>
            </button>
        {% else %}
        <button type="submit" name="post_id" value="{{ post.id }}" class="btn">
            <i class="fas fa-heart"> {{ total_likes }}</i>
        </button>
        {% endif %}
    {% else %}
        <i class="fas fa-heart"> {{ total_likes }}</i>
    {% endif %}

</form>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ post.author.profile.profile_pic.url }}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
        <p class="small text-muted">
            <a href="{% url 'show-profile-page' post.author.profile.id %}"> Profil </a>
            {% if post.author.profile.website_url %}
            | <a href="{{ post.author.profile.facebook_url }}"> Facebook</a>
            {% endif %}
            {% if post.author.profile.twitter_url %}
            | <a href="{{ post.author.profile.twitter_url }}"> Twitter</a>
            {% endif %}
            {% if post.author.profile.instagram_url %}
            | <a href="{{ post.author.profile.instagram_url }}"> Instagram</a>
            {% endif %}
            {% if post.author.profile.linkedin_url %}
            | <a href="{{ post.author.profile.linkedin_url }}"> Linkedin</a>
            {% endif %}
            {% if post.author.profile.website_url %}
            | <a href="{{ post.author.profile.website_url }}"> Strona</a>
            {% endif %}
        </p>
        <p class="card-text">{{ post.author.profile.bio }}</p>
      </div>
    </div>
  </div>
</div>


{% endblock %}