{% extends "main/index.html" %}
{% load static %}
{% block title %} PATRYK KOZIOŁ | BLOG {% endblock %}

{% block content %}

<h1>POST</h1>


<!--    &lt;!&ndash;Section-1&ndash;&gt;-->
<!--    <section class="section-1">-->
<!--        <div class="jumbotron d-flex align-items-center">-->
<!--            <div class="gradient"></div>-->
<!--            <div class="container-fluid content">-->
<!--                <h1 data-aos="fade-right" data-aos-delay="300">Welcome to more.</h1>-->
<!--                <h2 data-aos="fade-left" data-aos-delay="300">the multipurpose psd wordrpess theme</h2>-->
<!--            </div>-->
<!--            &lt;!&ndash;container-fluid end&ndash;&gt;-->
<!--        </div>-->
<!--    </section>-->

<!--    &lt;!&ndash; blog-single Section Start &ndash;&gt;-->
<!--    <div id="blog-single">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-sm-12 col-12 heading-1">-->
<!--                    <h3>Read Blog</h3>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <hr>-->
<!--        <div class="container">-->
<!--            <div class="row" data-aos="fade-up" data-aos-duration="700">-->
<!--                <div class="col-sm-12">-->
<!--                    <img src="images/index.jpg" alt="" class="img-thumbnail image">-->
<!--                    <div class="heading">-->
<!--                        <h2>Beautiful girl holding her camera in neck for a photo shoot for fist time</h2>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="social-buttons" data-aos="fade-up" data-aos-duration="700">-->
<!--                <div class="row">-->
<!--                    <div class="col-sm-5 col-md-6">-->
<!--                        <div class="inner-text">-->
<!--                            <h3>December 23, 2016 Posted by <span>Bizzy</span> In : <span><a href="#">Fashion</a></span></h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-7 col-md-6">-->
<!--                        <ul class="mbm_social">-->
<!--                            <li><a class="social-facebook" href="#">-->
<!--            		<i class="fa fa-facebook"><small>1.2m</small></i>-->
<!--            		-->
<!--            		<div class="tooltip"><span>facebook</span></div>-->
<!--            		</a>-->
<!--                            </li>-->
<!--                            <li><a class="social-twitter" href="#">-->
<!--            		<i class="fa fa-twitter"><small>448.6k</small></i>-->
<!--            		<div class="tooltip"><span>Twitter</span></div>-->
<!--            		</a>-->
<!--                            </li>-->
<!--                            <li><a class="social-google-plus" href="#">-->
<!--            		<i class="fa fa-pinterest" aria-hidden="true"><small>111.7k</small></i>-->
<!--            		<div class="tooltip"><span>google+</span></div>-->
<!--            		</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row" data-aos="fade-up" data-aos-duration="700">-->
<!--                <div class="col-sm-12 col-lg-12 box">-->
<!--                    <p>Welcome to my personal travel blog, i love to travel the globe, i have been to so <a href="blog_single.html">many beautiful</a> places and met interesting people around the world, this website is my mirror of life. </p>-->
<!--                    <p>Welcome nal travel blog, i love to travel the globe, i have been to so many beautiful Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful places and met interes Welcom y personal travel blog, i love to travel the globe, i have been to so many beautiful places and met interesting people around the world, this website is my mirror of life. </p>-->
<!--                    <p>Welcome to my personal travel blog, i love to travel the globe, i </p>-->
<!--                    <p>Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful places and met interesting people around the world, this website is my mirror of life. </p>-->
<!--                    <p>Welcome nal travel blog, i love to travel the globe, i have been to so <a href="blog_single.html">many beautiful</a> Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful places and met interes Welcom y personal travel blog, i love to travel the globe, i have been to so many beautiful places and met interesting people around the world, this website is my mirror of life. </p>-->
<!--                    <p>Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful...e world, this website is my mirror of life. </p>-->
<!--                    <p>Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful places and met interesting people around the world, this website is my mirror of life.</p>-->
<!--                    <p>Welcome nal travel blog, i love to travel the globe, i have been to so <a href="blog_single.html">many beautiful</a> Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful places and met interes Welcom y personal travel blog, i love to travel the globe, i have been to so many beautiful places and met interesting people around the world, this website is my mirror of life. </p>-->
<!--                    <p>Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful...e world, this website is my mirror of life. </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <section class="section4 more-blog" data-aos="fade-up" data-aos-duration="700">-->
<!--                <h2 class="background"><span>Similar Posts</span></h2>-->
<!--                <div class="container">-->
<!--                    <div class="row" data-aos="fade-up" data-aos-duration="700">-->
<!--                        <div class="card-deck">-->
<!--                            <div class="card">-->
<!--                                <img class="card-img-top" src="images/portfolio-2.jpg" alt="Card image cap">-->
<!--                                <div class="card-body">-->
<!--                                    <a class="btn btn-primary" href="blog.html" role="button">Photography</a>-->
<!--                                    <p class="card-text"><small class="text-muted">January 24th 2017</small></p>-->
<!--                                    <p class="card-text"><a href="blog_single.html">Beautiful girl dancing wearing beach wear for photoshoot!</a></p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card">-->
<!--                                <img class="card-img-top" src="images/portfolio-3.jpg" alt="Card image cap">-->
<!--                                <div class="card-body">-->
<!--                                    <a class="btn btn-primary" href="blog.html" role="button">Photography</a>-->
<!--                                    <p class="card-text"><small class="text-muted">January 24th 2017</small></p>-->
<!--                                    <p class="card-text"><a href="blog_single.html">Beautiful girl dancing wearing beach wear for photoshoot!</a></p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card">-->
<!--                                <img class="card-img-top" src="images/portfolio-5.jpg" alt="Card image cap">-->
<!--                                <div class="card-body">-->
<!--                                    <a class="btn btn-primary" href="blog.html" role="button">Photography</a>-->
<!--                                    <p class="card-text"><small class="text-muted">January 24th 2017</small></p>-->
<!--                                    <p class="card-text"><a href="blog_single.html">Beautiful girl dancing wearing beach wear for photoshoot!</a></p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </section>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Blog_single Section End &ndash;&gt;-->
{% endblock %}