{% extends "main/index.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %} PATRYK KOZIOŁ | BLOG {% endblock %}

{% block content %}

<section class="section-1">
    <div class="jumbotron-blog d-flex align-items-center">
        <div class="gradient"></div>
        <div class="container-fluid content">
            <h1 data-aos="fade-right" data-aos-delay="300">Blog</h1>
            <h2 data-aos="fade-left" data-aos-delay="300">Patryk Kozioł</h2>
        </div>
        <!--container-fluid end-->
    </div>
</section>

<!-- blog-single Section Start -->
<div id="blog-single">
    <div class="container">
        <div class="row" data-aos="fade-up" data-aos-duration="700">
            <div class="col-sm-12">
                {% if post.image %}
                <img src="{{ post.image.url }}" class="img-thumbnail image">
                {% endif %}
                <div class="heading">
                    <small>Opublikowano {{ post.post_date_pretty }} przez {{ post.author.first_name }}
                        {{ post.author.last_name }}</small>
                    {% if user.is_authenticated and user.id == post.author.id %}
                    <a href="{% url 'update-post' post.pk %}"><i class="far fa-edit"></i></a>
                    <a href="{% url 'delete-post' post.pk %}"><i class="fas fa-trash-alt"></i></a>
                    {% endif %}
                    <h2>{{ post.title }}</h2>
                </div>
            </div>
        </div>
        <div class="row" data-aos="fade-up" data-aos-duration="700">
            <div class="col-sm-12 col-lg-12 box">
                <p>{{ post.body|safe }}</p>
            </div>
        </div>

        <div data-aos="fade-right" data-aos-delay="300">
            <form action="{% url 'like-post' post.pk %}"
                  method="POST">
                {% csrf_token %}
                {% if user.is_authenticated %}
                {% if liked %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn">
                    <i class="fas fa-heart"> {{ total_likes }}</i>
                </button>
                {% else %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn">
                    <i class="fas fa-heart"> {{ total_likes }}</i>
                </button>
                {% endif %}
                {% else %}
                <i class="fas fa-heart"> {{ total_likes }}</i>
                {% endif %}
            </form>
        </div>
        <br/>
        <a href="{% url 'blog' %}"><button type="button" class="btn btn-secondary">Cofnij</button></a>
        <hr>
        <br/>

        {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ comment_form|crispy }}
            <input type="submit" value="Submit" class="btn btn-outline-success">
        </form>
        {% else %}
        <p>Aby dodać komentarz</p><a href="{% url 'login' %}">Zaloguj się</a>
        {% endif %}
        <br/><br/>
        <div data-aos="fade-left" data-aos-delay="500">
            {% language 'pl' %}
            <legend class="border-bottom mb-4">Komentarze</legend>
            {% for comment in post.comments.all %}
            <blockquote class="blockquote">
                <p class="mb-0">{{ comment.body }}</p>
                <footer class="blockquote-footer">{{ comment.user.username }} <cite title="Source Title">
                    {{ comment.timestamp|timesince }} temu</cite></footer>
            </blockquote>
            <br/>
            {% endfor %}
            {% endlanguage %}
        </div>
    </div>
</div>
<!-- Blog_single Section End -->
{% endblock %}