{% extends "main/index.html" %}
{% load static %}
{% block title %} PATRYK KOZIOŁ | USUŃ POST {% endblock %}

{% block content %}

<h1>USUŃ POST</h1>
<br/><br/>
<h3>Usuń: {{ post.title }}</h3>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <strong>Czy na pewno chcesz usunąć post?</strong><br/><br/>
        <button type="submit" class="btn btn-danger">Tak</button>
    </form>
</div>


<br/><br/>
<a href="{% url 'blog' %}"><button type="button" class="btn btn-secondary">Cofnij</button></a>
{% endblock %}