{% extends "main/index.html" %}
{% load static %}
{% block title %} PATRYK KOZIOŁ | EDYTUJ POST {% endblock %}

{% block content %}

<h1>EDYTYJ POST</h1>

{% if user.is_authenticated and user.is_superuser %}
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">POST</button>
    </form>
</div>
{% else %}
<h1>Brak uprawnień ! ;-)</h1>
{% endif %}


<br/><br/>
<a href="{% url 'blog' %}"><button type="button" class="btn btn-secondary">Cofnij</button></a>
{% endblock %}